/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.main_container{
    display: flex;
    height: calc(100vh - 100px);
    overflow-y: hidden;
}


/* NAVBAR LATERAL */
#navbar{
    width: 280px;
    display: flex;
    flex-direction: column;
}

/* DEBUG:  */
#navbar > div{
    border: 1px solid black;
    color: #000;
}

/* tutt i div della nav tranne playlist albums si adattano al contenuto, non si
rimpiccioliscono e non si ingrandiscono */
#navbar > div:not(.playlist_albums){
    flex: 0 0 auto;
}

/* playlist albums si prende tutto lo spazio che resta libero
di rimpoccilirsi quando cambia il vh fino a 100px e che compaia lo scroll */
#navbar .playlist_albums{
    flex: 99 1 auto;
    min-height: 100px;
    overflow-y: auto;
    color: #000;
}


/* ALBUMS */
#albums{
    width: calc(100% - 280px);
    background-color: lightgreen;
}

#albums .upgrade{
    height: 100px;
    background-color: #ffffff90;
}
